<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h3>New Doctor Form 
      <hr>
      <div class="container">
    <div class="row d-flex justify-content-center">
        <a href="/" class="btn btn-info" role="button">Home</a>
        <a href="/addDoctor" class="btn btn-info" role="button">Add Doctor</a>
        <a href="/addPatient" class="btn btn-info" role="button">Add Patient</a>
        <a href="/listDoctor" class="btn btn-info" role="button">List Doctors</a>
        <a href="/listPatient" class="btn btn-info" role="button">List Patients</a>
        <a href="/deletePatient" class="btn btn-info" role="button">Delete Patients</a>
        <a href="/updateDoctor" class="btn btn-info" role="button">Update Doctor</a>
        
    </div>
</div>
<hr>
  </h3>
  <form method="POST" action="/addDoctor" >
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="doctorFirstName" placeholder="Enter first name" name="firstName">
    </div>

    <div class="form-group col-md-6">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="doctorLastName" placeholder="Enter last name" name="lastName">
    </div>
    <div class="form-group col-md-6">
      <label for="DOB">Date Of Birth:</label>
      <input type="date" class="form-control" id="DOB"  name="DOB">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
      <label for="state">State:</label>
      <input type="text" class="form-control" id="state"  name="state">
    </div>

    <div class="form-group col-md-6">
      <label for="suburb">Suburb:</label>
      <input type="text" class="form-control" id="suburb"  name="suburb">
    </div>

    <div class="form-group col-md-6">
      <label for="street">Street:</label>
      <input type="text" class="form-control" id="street"  name="street">
    </div>

     <div class="form-group col-md-6">
      <label for="unit">Unit:</label>
      <input type="text" class="form-control" id="unit"  name="unit">
    </div>

    <div class="form-group col-md-6">
      <label for="numOfPatient">Number Of Patients:</label>
      <input type="number" class="form-control" id="numOfPatient"  name="numOfPatient">
    </div>

    <div class="form-group col-md-6"">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

  </form>
</div>

</body>
</html>
