<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="jumbotron text-center" >
  <h1>FIT2095Week6
  </h1>
  <p>Doctor - Patient System
  </p> 
</div>
  
<div class="container">
    <div class="row d-flex justify-content-center">
        <a href="/addDoctor" class="btn btn-info" role="button">Add Doctor</a>
        <a href="/addPatient" class="btn btn-info" role="button">Add Patient</a>
        <a href="/listDoctor" class="btn btn-info" role="button">List Doctors</a>
        <a href="/listPatient" class="btn btn-info" role="button">List Patients</a>
        <a href="/deletePatient" class="btn btn-info" role="button">Delete Patients</a>
        <a href="/updateDoctor" class="btn btn-info" role="button">Update Doctor</a>
        
    </div>
</div>

</body>
</html>
