<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Doctor List

    <hr>
      <div class="container">
    <div class="row d-flex justify-content-center">
        <a href="/" class="btn btn-info" role="button">Home</a>
        <a href="/addDoctor" class="btn btn-info" role="button">Add Doctor</a>
        <a href="/addPatient" class="btn btn-info" role="button">Add Patient</a>
        <a href="/listDoctor" class="btn btn-info" role="button">List Doctors</a>
        <a href="/listPatient" class="btn btn-info" role="button">List Patients</a>
        <a href="/deletePatient" class="btn btn-info" role="button">Delete Patients</a>
        <a href="/updateDoctor" class="btn btn-info" role="button">Update Doctor</a>
        
    </div>
</div>
<hr>
  </h2> 
  <form method="POST" action="/filternumOfPatient" >
  <div class="form-group">
    <label for="fliterNum">Filter by Number:</label>
    <input type="number" class="form-control" id="fliterNum"  placeholder="Enter Number" name ="fliterNum">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<hr>

  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>DoB</th>
        <th>State</th>
        <th>Suburb</th>
        <th>Street</th>
        <th>Unit</th>
        <th>#Patients</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
     <% for(let i = 0; i < doctor.length; i++) { %>
                <tr>
                    <td> <%= doctor[i].name.firstName %> </td>
                    <td> <%= doctor[i].name.lastName %> </td>
                    <td> <%= doctor[i].DOB %> </td>
                    <td> <%= doctor[i].address.state %> </td>
                    <td> <%= doctor[i].address.suburb %> </td>
                    <td> <%= doctor[i].address.street %> </td>
                    <td> <%= doctor[i].address.unit %> </td>
                    <td> <%= doctor[i].numberOfPatient %> </td>
                    <td> <%= doctor[i].id %> </td>
                </tr>
            <% } %>
    </tbody>
  </table>
</div>

</body>
</html>
